EXPO_PUBLIC_API_URL_WEB=http://127.0.0.1:7071/api/v1
EXPO_PUBLIC_API_URL_IOS=http://127.0.0.1:7071/api/v1
EXPO_PUBLIC_API_URL_ANDROID=http://10.0.2.2:7071/api/v1
EXPO_PUBLIC_REGISTRATION_BASE_URL=http://localhost:8081
EXPO_PUBLIC_ADMIN_USERNAME=admin
EXPO_PUBLIC_ADMIN_PASSWORD=abc123